<!-- Footer -->
<footer id='contact'>
    <div class="footer-div">
    <h2>Contact</h2>
    <ul class="social social-circle">
        <li class="social-links">
            <a href="#" target="_blank">
                <img width=42px src='{{"img/mail.png"|absURL}}'></a>Mail

        </li>
        <li class="social-links">
            <a href="https://matrix.to/#/#fsci:poddery.com" target="_blank">
                <img width=42px src='{{"img/conversation.png" | absURL}}'>
            </a>Chat
        </li>
    </ul>
    <div class="col-md-12 text-center">
        <p>Copyheart ❤ All wrongs reversed. <a class='link' href='https://gitlab.com/fsci/fsci-funding-campaign-website'>Improve this site</a></p>
    </div>
    <div>
</footer>
