{{define "main"}}
<main>
    <!-- Main heading and subheading text -->
    <section id="home" class="presentation">
        <div class="introduction">
            <div class="intro-text">
                <h1 style="text-align: center;">FSCI Services Crowdfunding Campaign</h1>
                <br>
                <p>
                    Free Software Community of India is a collective of Free Software users, advocates and developers. We believe that everyone should be able to access free software and their liberating experience is an integral part of promotion of free software and its philosophy. Moreover, if someone decides to use free software, they shouldn't feel constrained by the lack of access.
                </p>
                <p>
                    To make sure public has free access to free software cloud services, we host 100% Free software services including, diaspora* pod with additional Matrix and XMPP services (<a class='rem-underline' href="https://poddery.com/">poddery.com</a>), git repository hosting powered by GitLab Community Edition (<a class='rem-underline' href="https://git.fosscommunity.in/">git.fosscommunity.in</a>), mailing lists (<a class='rem-underline' href="https://lists.fsci.in/">lists.fsci.in</a>), collaborative wiki (<a class='rem-underline' href="https://wiki.fsci.org.in/">wiki.fsci.org.in</a>) among other services that respects your freedom and privacy. Our volunteers maintain these services free of cost, but we have to depend on donations pay for the infrastructure.
                </p>
                <p>
                    We regret to inform you that some services are running on negative balance, means the funds to run them are taken from the volunteer's personal accounts. So in this year's funding campaign, we will be collecting fund for two year server/domain charges and to fill the negative balance from previous years.
                </p>
                <p>
                    Remember friends, nothing is free on internet. If you are receiving a service online, somebody from somewhere else will be paying for it or like an old saying, you might be the product. The first best option for protecting your rights online will be hosting your own services and maintaining them. But the second best and the more practical one will be using the services hosted by a community that you can be part of.
                </p>
                <p>
                    If you think you want to contribute to this initiative, you could choose to pay to one of services or choose fsci as a whole. All funds received for fsci will be split between individual services. Use the following account details to transfer your funds.
                </p>
                </br>
                <div class="cta">
                   <button type="button" onclick="location.href='https://fsci.in'"> FSCI Website</button> <button type="button" onclick="location.href='donate'">Donate</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Peertube video
    <section id="home" class="presentation">
        <div class="introduction">
                <div class="video-frame">
                    <iframe sandbox="allow-scripts allow-popups" class="video-embed"
                        src="" frameborder="0" allowfullscreen>
                    </iframe>
            </div>
        </div>
    </section> -->
        

    <!-- Donate Now -->
    <!--
    <section id="Donate" class="services">
        <h1>Donate</h1>
        <p class="presentation">Kiran, a FSCI member, has volunteered his bank account for receiving funds for this campaign. The amount collected towards the target of 62500 will be updated on <a href="/contributors/">contributors page</a> and in the next section.</p>
        <div class="other-services">
            <div class="service-block">
                <h2>Account Details</h2>
                Name: Kiran S Kunjumon <br>
                Account No: 67217967805  <br>
                Bank Branch: SBI Cochin University <br>
                IFSC Code: SBIN0070235 <br>
                UPI ID: 8301817411@sbi
                <br>
                <p> -->
                    <!-- Change this value for percentage
                    <i>---------57% raised---------</i>-->
                
                <!-- Change value to amount collected -->
              <!--  <progress value="35,851" max="62500" style="width: 95%; height: 20px"></progress>
                <br>
                <b>Amount Raised:</b> 
                <span>35,851 of 62,500 INR goal</span> <br>
                Detailed <a href="/contributors/" style="color: blue;">list of contributions</a>.
                </p>
            </div>
        </div>
    </section> -->

    <!-- FSCI's logo and description  -->
    <section class="services">
        <div class="column .fsci-section-bottom-padding" style="background-color:#EFECEA;">
            <img src='{{"img/fsci.png" | absURL}}' alt="FSCI logo" style="width:200px; height:auto;"/>
            <h2>FREE SOFTWARE COMMUNITY OF INDIA</h2>
            <p>
                <h4 class="column-text">
                    <a href="https://fsci.in/" class='rem-underline'>Free Software Community of India</a> is a collective of Free Software users, advocates and developers.
                    We maintain communication and collaboration infrastructure for everyone like <a class='rem-underline' href="https://poddery.com/">diaspora* pod</a> with additional Matrix and XMPP services, <a class='rem-underline' href="https://git.fosscommunity.in/">git repository hosting</a> powered by 100% Free Software (GitLab Community Edition), <a class='rem-underline' href="https://lists.fsci.in/">mailing lists</a>, collabrative <a class='rem-underline' href="http://wiki.fsci.org.in/">wiki</a> amongst other services that respects your freedom and privacy. We depend on donations and volunteers to run the infrastructure. We also mentor Free Software enthusiasts to become Free Software contributors.
                </h4>
            </p>
        </div>
    </section>

</main>
{{end}}
